/*calc setup size*/

.calc-page{
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-card-theme-dark {
  width: 340px;
  border-radius: 22px;
  background-color: #000;
  padding: 10px;
}

.font-strength {
    font-weight: 500;
    font-size: large;
}

/*calc display theme*/
.calc-display-theme-dark {
  background-color: #28282B !important;
  color: #fff !important;
  height: 60px;
  border: solid 2px;
  border-radius: 10px;
  border-color: #EFECE3;
  font-size: 28px;
  font-weight: 500;
  box-shadow: none;
  transition: font-size 0.2s ease-in-out;
  overflow: hidden;
  white-space: nowrap;

}

.calc-table-theme-dark td {
  padding: 8px;
  border: none;
}

.calc-btn-theme-dark {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.15s ease-in-out;
}

.btn-number { 
  background-color: #333; 
  color: #fff; 
}
.btn-operator { 
  background-color: #FFA600; 
  color: #000; 
  font-weight: 700; 
}
.btn-clear { 
  background-color: #a5a5a5; 
  color: #000; 
  font-weight: 600; 
}
.btn-result { 
  background-color: #465C88; 
  color: #fff; 
  font-weight: 600; 
}

.calc-btn-theme-dark:hover { 
  filter: brightness(1.2); 
}

.calc-btn-theme-dark:active {
  transform: scale(0.9);
  filter: brightness(0.9);
  color: #fff;
  font-weight: 700;
}

.btn-dis{
  visibility: hidden;

}
